<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="COBS.NET" version="1.1.0" manuallyInstalled="true" />
  <package id="System.IO.Ports" version="9.0.3" manuallyInstalled="true" />
  <package id="runtime.android-arm.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.android-arm64.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.android-x64.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.android-x86.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.linux-arm.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.linux-arm64.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.linux-bionic-arm64.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.linux-bionic-x64.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.linux-musl-arm.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.linux-musl-arm64.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.linux-musl-x64.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.linux-x64.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.maccatalyst-arm64.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.maccatalyst-x64.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.osx-arm64.runtime.native.System.IO.Ports" version="9.0.3" />
  <package id="runtime.osx-x64.runtime.native.System.IO.Ports" version="9.0.3" />
</packages>